# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Temporary Uploads
# ==========================
public/temp/

# ==========================
# Local Development
# ==========================
.agents/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db